<a href="https://colab.research.google.com/github/mohit-dubey66/Python-BootCamp-2023/blob/main/Day_2_Python_BootCamp_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **USER INPUT**


*   "input()" function is used to take input from user.
*   By default it takes input as a string because string is an universal data format. E.g., int can be converted into string, but vice-versa is not possible.

In [ ]:
# num = input()
# print(type(num))
# print(num)

name = input("Enter your name: ")
print("My name is: ",name)

Enter your name: mohit
My name is:  mohit

# **TYPE CONVERSION**
1) Implicit type conversion: Python internally converts the data type.

In [ ]:
print(5 + 5.6)

10.6

However, implicit conversion not always works:

In [ ]:
# print(5 + '4')

2) Explicit Conversion: When programmer requests python to change the data type explicitly. There are some functions to explicitly change the data type.

In [ ]:
#String ----> int
# print(type(int('3')))


#int ----> string
print(type(str(4)))


#int ----> float
print(float(4))

<class 'str'>
4.0

**NOTE:** *While Type conversion, a new object is created of that instance/data and we work on new converted data.*

**PROGRAM:** *Program to add two numbers, take input from user.*

In [ ]:
a = input("Enter 1st num: ")
print(type(a))
b = input("Enter 2nd num: ")
print(type(a))
result = int(a) + int(b)
print(type(a))
print(type(b))
print()
print(type(result))

print(result)

Enter 1st num: 3
<class 'str'>
Enter 2nd num: 8
<class 'str'>
<class 'str'>
<class 'str'>

<class 'int'>
11

# **OPERATORS IN PYTHON**
1) Arithmetic Operators: (+, -, *, /, //, %, **)

2) Relational Operators: (>, <, >=, <=, ==, !=)

3) Logical Operators: (and, or, not)

4) Bitwise Operators: (&, |, ^, ~, <<, >>)

5) Assignment Operators: (=, +=, -=, *=, /=, %=, **=, &=, |=)

6) Membership Operators: (in, not in)

1) Arithmetic Operators: (+, -, , /, //, %, *)

In [ ]:
# E.g.
print(4+3)
print(-4-3)
print(4/3)
print(4//3)
print(4%3)
print(4*2)

7
-7
1.3333333333333333
1
1
8

2) Relational Operators: (>, <, >=, <=, ==, !=)

In [ ]:
# E.g.
print(4>3)
print(4 < 3)
print(4 >= 3)
print(4 == 3)

True
False
True
False

3) Logical Operators: (and, or, not)

In [ ]:
# 1) and = returns true if both statements are true
print(1 and 1)

# 2) or = returns True if one of the statements is true
print(1 or 0)

# 3) not = reverse the result, returns False if the result is true
print(not 7)

1
1
False

4) Bitwise Operators: (&, |, ^, ~, <<, >>)

5) Assignment Operators: (=, +=, -=, *=, /=, %=, **=, &=, |=)

In [ ]:
# E.g.
a = 4
a += 4 # a = a + 4
print(a)

8

6) Membership Operators: (in, not in)

In [ ]:
# E.g.
print(1 in [1,2,3])
print(1 not in [1,2,3])
print('a' not in 'python')

True
False
True

**PROGRAM:** Find the sum of a 3-digit number entered by the user?

In [ ]:
# 123 = 1+2+3 = 6
a=int(input("enter a:"))

m = a%10

p = a//10

r = p%10

o = p//10

print(o+r+m)

enter a:123
6

# **CONDITIONAL STATEMENTS**
If-Else is used to code for branching of code at a certain point of code execution.

1) PROGRAM: Login system.

2) PROGRAM: Little advance login system.

3) PROGRAM: Find minimum of 3 numbers.

4) PROGRAM: Menu driven calculator.(HW)

In [ ]:
found_on_1 = False
found_on_2 = False
found_on_3 = False
found_on_4 = False
found_on_5 = True


if found_on_1:
    print(True)
elif found_on_2:
    print(True)
elif found_on_3:
    print(True)
elif found_on_4:
    print(True)
else:
    print(True)

True

In [ ]:
#login system

username = 'python'
password = 12345

user_input = input("Enter your username: ")
pas_input = int(input("Enter your password: "))

if user_input == username and pas_input == password:
    print("Welcome, to the LEPSES!")

elif user_input == username or pas_input != password:
    print("wrong password, re enter it")
    pas_input = int(input("Enter your password again: "))
    if pas_input == password:
        print("Welcome to the LEPSES")

elif user_input != username or pas_input == password:
    print("wrong username, re enter it")
    user_input = input("Enter your username again: ")
    if user_input == username:
        print("Welcome to the LEPSES")

else:
    print("Get lost!")

Enter your username: python
Enter your password: 123
wrong password, re enter it
Enter your password again: 12345
Welcome to the LEPSES

In [ ]:
a = int(input())
b = int(input())
c = int(input())

if a < b and a < c:
    print(a,"is smaller number.")

elif b < a and b < c:
    print(b,"is smaller number.")

else:
    print(c,"is smaller number.")

2
7
1
1 is smaller number.